name: panvimdoc

on: [push]

jobs:
  docs:
    runs-on: ubuntu-latest
    name: pandoc to vimdoc
    steps:
      - uses: actions/checkout@v2
      - name: panvimdoc
        uses: kdheepak/panvimdoc@main
        with:
          vimdoc: cutlass.nvim
          description: Plugin that adds a 'cut' operation separate from 'delete'.
          version: 'NVIM v0.5.0'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore: generate docs'
          branch: ${{ github.head_ref }}
